@using Wizzarts.Common
@using Wizzarts.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Wizzarts.Web.ViewModels.Home.IndexAuthenticationViewModel

@if (this.SignInManager.IsSignedIn(this.User))
{
    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-155px, 22px, 0px); top: 0px; left: 0px; will-change: transform;">
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user fa-fw"></i> <b>Hello @this.User.Identity.Name!</b></a>
        <hr class="m-0">
        @if (this.User.IsInRole(GlobalConstants.PremiumRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a class="dropdown-item" asp-area="" asp-controller="PlayCard" asp-action="Add"><i class="fa fa-rss" aria-hidden="true"></i> <b>Create Card</b></a>

        }
        @if (this.User.IsInRole(GlobalConstants.PremiumRoleName) || this.User.IsInRole(GlobalConstants.PremiumRoleName))
        {
            <a class="dropdown-item" asp-area="" asp-controller="Event" asp-action="Create"><i class="fa fa-rss" aria-hidden="true"></i> <b>Create Event</b></a>
        }
        <a class="dropdown-item" asp-area="" asp-controller="Article" asp-action="Create"><i class="fa fa-rss" aria-hidden="true"></i> <b>Create Article</b></a>

        <a class="dropdown-item" asp-area="" asp-controller="Art" asp-action="Add"><i class="fa fa-picture-o" aria-hidden="true"></i> <b>Add Art</b></a>


       @*  <a class="dropdown-item" asp-area="" asp-controller="Wizzarts" asp-action="Membership"><i class="fa fa-handshake-o" aria-hidden="true"></i> <b>Contribute</b></a> *@
        @*         <a class="dropdown-item" href="/Identity/ClaimRole/ClaimRole"><i class="fas fa-star"></i> <b>Premium</b></a> *@
        <hr class="m-0">
        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="MyData"><i class="fas fa-archive fa-fw"></i> <b>My Content</b></a>
        @*   <a class="dropdown-item" href="/Manage/Orders"><i class="fas fa-shopping-basket fa-fw"></i> <b>My Orders</b></a> *@

        @*   <a class="dropdown-item" href="/Tourney/MyTourneys"><i class="fas fa-trophy fa-fw"></i> <b>My Tourneys</b></a> *@
        @*   <a class="dropdown-item" href="/Articles/MyArticles"><i class="fas fa-newspaper fa-fw"></i> <b>My Articles</b></a> *@
        @*   <a class="dropdown-item" href="/Video/MyVideos"><i class="fab fa-youtube fa-fw"></i> <b>My Videos</b></a> *@
        <hr class="m-0">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="dropdown-item"> <i class="fas fa-sign-out-alt"></i> <b>Logout</b></button>
        </form>
    </div>
}
else
{
   @*  @await Component.InvokeAsync("SignUp"); *@
    <div id="login-dp" class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-230px, 22px, 0px);">
        <div class="row">
            <div class="col-md-12 text-dark">
                Sign in :
                <form asp-controller="Home" asp-action="Index" class="form" id="account" method="post" role="form">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="sr-only" for="Username">Login</label>
                        <input asp-for="UserName" class="form-control" data-val="true" data-val-required="The Login field is required." id="qEmail" name="Username" placeholder="Username" type="text" value="">
                        <span asp-validation-for="UserName" class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="sr-only" for="Password">Password</label>
                        <input asp-for="Password" class="form-control" data-val="true" data-val-required="The Password field is required." id="qPassword" name="Password" placeholder="Password" type="password">
                        <span asp-validation-for="Password" class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-light btn-block"><i class="fas fa-sign-in-alt"></i> <b>Login</b></button>
                    </div>
                </form>
                <div class="bottom text-center mt-2">
                    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>
            </div>
        </div>
    </div>
}

