@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


 <form action="" class="form"
        id="login-nav" method="post" role="form" novalidate="novalidate">
    <div class="form-group">
        <label asp-for="Input.Username" class="sr-only" for="Email">Login</label>
        <input class="form-control" data-val="true"
               data-val-required="The Login field is required." id="qEmail"
               name="Email" placeholder="Username / Email" type="text"
               value="" asp-for="Input.Username">
        <span asp-validation-for="Input.Username" class="text-danger field-validation-valid"
              data-valmsg-for="Email" data-valmsg-replace="true"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password" class="sr-only" for="Password">Password</label>
        <input class="form-control" data-val="true"
               data-val-required="The Password field is required."
               id="qPassword" name="Password" placeholder="Password"
               type="password" asp-for="Input.Password">
        <span asp-validation-for="Input.Password" class="text-danger field-validation-valid"
              data-valmsg-for="Password"
              data-valmsg-replace="true"></span>      
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-light btn-block">
            <i class="fas fa-sign-in-alt"></i> <b>Login</b>
        </button>
    </div>   
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
