@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="col-md-12 col-lg-7 pl-0 pr-0 pr-lg-2">
    <div class="card mt-2">
        <div class="card-header p-0">
            <h5 class="text-center">Email registration</h5>
        </div>
        <div class="card-body">
            <form action="" class="form-horizontal" method="post" role="form" novalidate="novalidate">
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <div class="form-group row">
                    <label asp-for="Input.Username" class="col-md-3 control-label" for="Username">Username</label>
                    <div class="col-md-9">
                        <input class="form-control" data-val="true" data-val-required="The Username field is required." id="Username" name="Username" type="text" value="">
                        <small class="text-muted">Your username must be unique and will be shown on your public profile page and other pages on the site.</small>
                    </div>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 control-label" for="Email">Email</label>
                    <div class="col-md-9">
                        <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="">
                        <small class="text-muted">We will not share your email with any third party or send you any email apart from service related information.</small>
                    </div>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 control-label" for="Password">Password</label>
                    <div class="col-md-9">
                        <input class="form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" maxlength="100" name="Password" type="password">
                        <small class="text-muted">Password must be at least 6 characters long, contain a digit, a lower case and a upper case character.</small>
                    </div>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 control-label" for="ConfirmPassword">Confirm password</label>
                    <div class="col-md-9">
                        <input class="form-control" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password">
                    </div>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="offset-md-3 col-md-9 text-center">
                        <input type="submit" class="btn btn-light font-weight-bold" value="Register">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
