@model MagicCardsHub.Web.ViewModels.Article.CreateArticleInputModel
@{
    this.ViewData["Title"] = "Create new Article";
}

<div class="row text-center no-gutters">
    <div class="col-md-12">
        <h2 class="text-header-gold">Create Article</h2>
        <p>
            All Articles from Artists, Store Owners and content creators.
        </p>
    </div>
</div>
<div class="col-md-12 col-lg-8 pl-0 pr-0 order-1 order-lg-1">
    <div class="card" s="">
        <div class="card-body pt-2 pb-1">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group row mb-1">
                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="Title"></label>
                    <div class="col-sm-8 col-lg-6">
                        <input asp-for="Title" class="form-control" placeholder="Article Title">
                    </div>
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="Description"></label>
                    <div class="col-sm-8 col-lg-6">
                        <input asp-for="Description" class="form-control" placeholder="Description">
                    </div>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>

                <div class="form-group row mb-1">
                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="Image"></label>
                    <div class="col-sm-8 col-lg-6">
                        <input asp-for="Image" class="form-control" placeholder="Your Article Image">
                    </div>
                    <span asp-validation-for="Image" class="small text-danger"></span>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-light">
                            <span class="fas fa-plus"></span> <b>Create</b>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>