<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MagicCardsHub</title>


    <script src="https://kit.fontawesome.com/e0f25cd0cd.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/reset-css.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MagicCardsHub.styles.css" asp-append-version="true" />

</head>
<body data-base="" data-theme="dark">
    <div class="wrapper">
        <div class="w-100 ae-header sticky-menu-mobile-navbar d-print-none">
            <div class="ae-menu-left-decor">
                <picture>
                    <source srcset="/images/navigation/menu_side.svg" media="(min-width: 768px)">
                    <img src="/images/navigation/menu_side_mobile.svg">
                </picture>
            </div>
            <div class="ae-menu-right-decor">
                <picture>
                    <source srcset="/images/navigation/menu_side.svg" media="(min-width: 768px)">
                    <img src="/images/navigation/menu_side_mobile.svg">
                </picture>
            </div>
            <div class="ae-menu-center">
                <div class="ae-menu-center">
                    <div class="ae-menu">
                        <div class="ae-menu-logo">
                            <a href="/" class="d-none d-xl-block">
                                <img src="/images/navigation/Section.gif" class="ae-header-logo" alt="AetherHub" width="200" height="44">
                            </a>
                            <div class="d-block d-lg-none ml-2 mr-1">
                                <a id="sidebarCollapse" class="" aria-label="Menu"><i class="fas fa-bars"></i></a>
                            </div>
                        </div>
                        <div class="ae-menu-wrapper d-none d-lg-flex">
                            <ul class="d-flex justify-content-start">
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Decks</b></button>
                                        <div class="ae-nav-dropdown-menu">

                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a href="/Account/Register">User Decks</a>
                                                        <a href="/Decks/Writeups/">Deck Writeups</a>
                                                        <a href="/Decks/Video/">Deck Videos</a>
                                                        <hr>
                                                        <a href="/Deck/Builder/">Deck Builder</a>
                                                        <a href="/Deck/MyDecks/">My Decks</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn  pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Metagame</b></button>
                                        <div id="metahub-dropdown" class="ae-nav-dropdown-menu">
                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a href="/Metagame/">Metagame Overview</a>
                                                        <a href="/Events/">Tournament Metagame</a>
                                                        <a href="/MTGA-Decks/">Latest MTGA Winners</a>
                                                        <hr>
                                                        <a href="/Limited/">Limited Metagame</a>
                                                        <a href="/Limited/Ratings/">Limited Ratings</a>
                                                        <a href="/Limited/DraftSensei/">Draft Trainer</a>
                                                        <a href="/Limited/Draftevents/">Latest Draft Winners</a>
                                                        <hr>
                                                        <a href="/MTGA/ConstructedRankingLadder/">MTGA Ranking Ladder</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn  pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Collection</b></button>
                                        <div id="collection-dropdown" class="ae-nav-dropdown-menu">
                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a href="/Collection/Manage/">Manage Collection</a>
                                                        <a href="/Collection/CardScanner/">Card Scanner</a>
                                                        <hr>
                                                        <a href="/Collection/">My Collection</a>
                                                        <a href="/Collection/Binder/">My Binders</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn  pl-1 pr-1 text-nowrap"><b>Tournaments</b></button>
                                        <div class="ae-nav-dropdown-menu">
                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a href="/Tourney/">Browse Tournaments</a>
                                                        <a href="/Tourney/Leagues">Browse Leagues</a>
                                                        <hr>
                                                        <a href="/Tourney/MyTourneys">My Tournaments</a>
                                                        <a href="/Tourney/MyLeagues">My Leagues</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn  pl-1 pr-1 text-nowrap"><b>Database</b></button>
                                        <div class="ae-nav-dropdown-menu">
                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a href="/Card/Search/">Card Search</a>
                                                        <a href="/Card/Set/">Set List</a>
                                                        <hr>
                                                        <a href="/Banlist/">Card Banlist</a>
                                                        <a href="/MTGACalendar/">MTGA Calendar</a>
                                                        <a href="/MTGAGuides/">MTGA Guides</a>
                                                        <hr>
                                                        <a href="/Article/">Articles</a>
                                                        <a href="/Video/">Videos</a>
                                                        <a href="/Docs/">Documentation</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn  pl-1 pr-1 text-nowrap"><b>Apps</b></button>
                                        <div class="ae-nav-dropdown-menu">
                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a href="/Apps/MTGAAssistant/">MTGA Assistant</a>
                                                        <a href="/Apps/DeckConverter/">Deck Converter</a>
                                                        <a href="/Apps/MtgLife/">MTG Life</a>
                                                        <a href="/Apps/HyperGeometric/">Hypergeometric Calculator</a>
                                                        <a href="/Apps/TwitchExtensions/">Twitch Extensions</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>





                        <div class="ae-icons d-flex justify-content-start">
                            <div class="mr-2">
                                <ul class="nav">
                                    <li class="nav-item dropdown">
                                        <a class="" data-toggle="modal" data-target="#siteSearchModal">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mr-2">
                                <ul class="nav">
                                    <li class="nav-item dropdown">
                                        <a class="" data-toggle="dropdown">
                                            <i class="far fa-star"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="/Premium"><b>Premium</b></a>
                                            <a class="dropdown-item" href="/ContentCreators"><b>Content Creators</b></a>
                                            <a class="dropdown-item" href="/TeamAether"><b>TeamAether</b></a>

                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="mr-1">
                                <ul class="nav">
                                    <li class="nav-item dropdown">
                                        <a id="login-button" class="" data-toggle="dropdown" aria-label="Login">
                                            <i class="fas fa-user"></i>
                                        </a>
                                        @if (!this.User.Identity.IsAuthenticated)
                                        {
                                            <div id="login-dp" class="dropdown-menu dropdown-menu-right">
                                                <div class="bottom text-center mt-2">
                                                    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                                </div>
                                                <div class="bottom text-center mt-2">
                                                    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-155px, 22px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" href="/Manage/EditProfile"><i class="fas fa-edit fa-fw"></i> <b>My Account</b></a>
                                                <a class="dropdown-item" href="/User/Aistonuts"><i class="fas fa-user fa-fw"></i> <b>Public Profile</b></a>
                                                <a class="dropdown-item" href="/Identity/ClaimRole/ClaimRole"><i class="fas fa-star"></i> <b>Premium</b></a>
                                                <hr class="m-0">
                                                <a class="dropdown-item" href="/Manage/Orders"><i class="fas fa-shopping-basket fa-fw"></i> <b>My Orders</b></a>
                                                <a class="dropdown-item" href="/Art/Index"><i class="fas fa-archive fa-fw"></i> <b>My Decks</b></a>
                                                <a class="dropdown-item" href="/Tourney/MyTourneys"><i class="fas fa-trophy fa-fw"></i> <b>My Tourneys</b></a>
                                                <a class="dropdown-item" href="/Article/MyArticles"><i class="fas fa-newspaper fa-fw"></i> <b>My Articles</b></a>
                                                <a class="dropdown-item" href="/Video/MyVideos"><i class="fab fa-youtube fa-fw"></i> <b>My Videos</b></a>
                                                <hr class="m-0">
                                                <a class="dropdown-item" id="ae-logout" href="/Identity/Account/Logout"><i class="fas fa-sign-out-alt"></i> <b>Logout</b></a>
                                            </div>

                                        }



                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ae-header-bottom-decoration d-flex">
                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ae-inner-content-wrapper">
        <div class="inner-content">
            <div class="row pt-2">
                @RenderBody()
            </div>
        </div>
    </div>



    <footer class="d-print-none">
        <div class="row no-gutters pt-2 text-white bg-light">
            <div class="col-sm-12 col-md-4 text-center">
                <ul class="list-unstyled">
                    <li class="my-2 my-md-0"><a href="/Help" class="text-white"><b>Help</b></a></li>
                    <li class="my-2 my-md-0"><a href="/Contact" class="text-white"><b>Contact Us</b></a></li>
                    <li class="my-2 my-md-0"><a href="/PrivacyPolicy" class="text-white"><b>Privacy Policy</b></a></li>
                    <li class="my-2 my-md-0"><a href="/Premium/" class="text-white"><b>Premium Account</b></a></li>
                    <li class="my-2 my-md-0"><a href="/TermsAndConditions" class="text-white"><b>Terms and Conditions</b></a></li>
                    <li class="my-2 my-md-0"><a href="/Docs/" class="text-white"><b>Documentation</b></a></li>
                    <li class="my-2 my-md-0"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=XQU3MEGZAWU36&amp;source=url" class="text-white" target="_blank" rel="nofollow noopener"><b>Donate</b></a></li>
                </ul>
            </div>        
        </div>
        <div class="footer-copyright mt-1 text-center small">
            2023 - CardsAssembler copy of the following :
            "All original content on this page is ©2023 AetherHub.com and may not be used or reproduced without consent. Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of
            Wizards of the Coast LLC. © Wizards. All rights reserved. AetherHub.com is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. Magic the Gathering and its
            respective properties are copyright Wizards of the Coast. CCPA: <a href="/Home/PersonalInformation">Opt out of personal information sales"</a>
        </div>
    </footer>

    <div id="siteSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Search AetherHub</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="fas fa-times text-dark"></span>
                    </button>
                </div>
                <div class="modal-body ui-front d-flex flex-row justify-content-center">
                    <div>
                        <form method="get" action="/Market/CardInfo">
                            <div class="input-group ae-card-search">
                                <input type="text" id="searchM" name="CardName"
                                       class="form-control d-print-none ui-autocomplete-input"
                                       placeholder="Search magic cards" aria-label="Search magic cards"
                                       autocomplete="off">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="submit" aria-label="Search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul id="ui-id-1" tabindex="0"
                        class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" unselectable="on"
                        style="display: none;"></ul>
                </div>
                <div class="modal-footer mt-0">
                    <div class="text-right">
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            <i class="fas fa-times"></i> <b>Close</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupMsg"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
