@model MagicCardsmith.Web.ViewModels.Artist.BecomeArtistViewModel
@{
    this.ViewData["Title"] = "Become Artist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2">
    <div class="col-md-12 pl-0 pr-0">
        <div class="card border-0">
            <div class="card-header bg-light pt-0">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item"><a class="font-weight-bold nav-link active" data-toggle="tab" href="#home" role="tab"><i class="far fa-star"></i> Features</a></li>
                    <li class="nav-item"><a class="font-weight-bold nav-link" href="/Premium/BuyEnergy" role="tab"><i class="fas fa-bolt"></i> Buy NRG</a></li>
                    <li class="nav-item"><a class="font-weight-bold nav-link" href="/Premium/Subscribe" role="tab"><i class="fas fa-star"></i> Subscriptions</a></li>
                </ul>
            </div>
            <div class="card-body tab-content p-0">
                <div id="home" class="tab-pane row active" role="tabpanel">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100">
                                <div class="card-header text-center pt-1 pb-1"><b><i class="fas fa-user"></i> Basic User</b></div>
                                <div class="card-body pb-0">
                                    <p>
                                        All base functionality on MagicCardsmith for everyone.
                                    </p>
                                    <ul>
                                        <li>Check the latest art pieces added by our old and new team members.</li>
                                        <li>Chance to become an artist and join our team.Participate in our events</li>
                                        <li>Vote for your favorite art piece.</li>
                                    </ul>
                                    @*<p>
                                        Subscribe to our newsletter to stay up to date on all our new features, best articles and new information.
                                        <br><a href="/Manage/EditProfile">Doing so</a> will give you these additions:
                                    </p>
                                    <ul>
                                        <li>1 extra Deck Folder</li>
                                        <li>2 extra Private or Open Decks</li>
                                    </ul>*@
                                </div>
                                <div class="mb-2 text-center">
                                    <a href="#" class="btn btn-light font-weight-bold" disabled="">Free</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100 border-premium">
                                <div class="card-header text-center bg-premium text-white pt-1 pb-1"><b><i class="fas fa-star" title="Premium Subscriber"></i> Premium</b></div>
                                <div class="card-body pb-0">
                                    <img src="https://aetherhub.b-cdn.net/images/PremiumLogo320.png" width="300" alt="Premium" class="mx-auto d-block mb-3 img-fluid">
                                    <ul class="mt-2">
                                        <li><b>Premium Subscriber</b> <i class="fas fa-star" title="Premium Subscriber"></i> in your MagicCardsmith profile</li>
                                        <li><b>Unlimited</b> Private and Open art albums</li>
                                        <li><b>Unlimited</b> Create new cards, create decks and participate in the creation of future deck expansions</li>
                                    </ul>
                                    <p>Premium Users gets all the base functionality provided as a Basic User, but with no limits and Premium-only features.</p>
                                </div>
                                <div class="mb-2 text-center">
                                    <a href="/Premium/Subscribe" class="btn btn-light btn-outline-premium font-weight-bold">Get by adding at least one art piece</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100 border-content-creator">
                                <div class="card-header text-center bg-content-creator text-white pt-1 pb-1"><b><i class="far fa-star" title="Content Creator"></i> MagicCardsmith Content Creator</b></div>
                                <div class="card-body pb-0">
                                    <ul>
                                        <li><b>Free</b> for Store owners and artists or users with at least 1 art piece in their album. <a href="https://docs.google.com/forms/d/11yHPNLl5x-XWJO2wY8S7_BtwUQaE9f68BiDwHAIEJC8/" target="_blank">Fill out this form.</a></li>
                                        <li><b>Content Creator</b> <i class="far fa-star" title="Content Creator"></i> on your profile</li>
                                        <li><b>Access</b> to event organaizer , article creator and card/deck creator tool</li>   
                                    </ul>
                                    <p>
                                        Learn more about how to leverage AetherHub as a <a href="/ContentCreators/">content creator here</a>!
                                    </p>
                                </div>
                                <div class="mb-2 text-center">
                                    <a href="https://docs.google.com/forms/d/11yHPNLl5x-XWJO2wY8S7_BtwUQaE9f68BiDwHAIEJC8/" target="_blank" class="btn btn-light btn-outline-success font-weight-bold">Get for Free</a>
                                    <a href="/Premium/Subscribe?sub=ContentCreator" class="btn btn-light btn-outline-content-creator font-weight-bold">For Store owners and artist with at least 5 art pieces </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>