@using MagicCardsmith.Common;
@model MagicCardsmith.Web.ViewModels.Artist.SingleArtistViewModel
@{
    this.ViewData["Title"] = "Artist";
}

<div class="row pt-2">
    <div class="col-md-12 col-lg-9 pr-0 pl-0 pr-lg-2">
        <div class="card">
            <div class="card-header bg-light pt-0">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a href="/User/ChrisCee/" class="nav-link active">
                            <span class="fas fa-user"></span> <b>User Feed</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/User/ChrisCee/Decks" class="nav-link ">
                            <span class="fas fa-archive"></span> <span><b>Decks</b></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/User/ChrisCee/Collection" class="nav-link  ">
                            <span class="fas fa-suitcase"></span> <b>Collection</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/User/ChrisCee/Articles" class="nav-link ">
                            <span class="fas fa-newspaper"></span> <b>Articles</b>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body d-flex flex-column pr-0 pl-0 pb-0">
                <div class="my-4">
                    <div id="zone15-728x90" class="mx-auto" data-request-id="018c4369-0808-7000-905d-552f12f45d49" data-bidder="house" data-creative-id="237" style="min-height: 90px; text-align: center; font-size: 0px;"><iframe width="728px" height="90px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" title="advertisement" style="width: 728px; border: none; margin: 0px auto; display: block;"></iframe><img src="https://tracker.nitropay.com/pixel.png?s=207&amp;wb=eyJhZFVuaXRDb2RlIjoiem9uZTE1LTcyOHg5MCIsImJpZGRlciI6ImhvdXNlIiwiaGVpZ2h0Ijo5MCwid2lkdGgiOjcyOCwiY3BtIjowLCJjcmVhdGl2ZUlkIjoiMjM3IiwiaHJlZiI6Imh0dHBzOi8vYWV0aGVyaHViLmNvbS9Vc2VyL0NocmlzQ2VlLyIsImFjY2VwdGFibGUiOmZhbHNlLCJyZXF1ZXN0SWQiOiIwMThjNDM2OS0wODA4LTcwMDAtOTA1ZC01NTJmMTJmNDVkNDkiLCJ0aW1lVG9SZXNwb25kIjoxNzUsImMiOiJCRyIsInIiOiIyMiIsInR5cGUiOjAsImR1cmF0aW9uIjowLCJyZWZyZXNoIjp0cnVlLCJ0aW1lc3RhbXAiOjE3MDE5MzgwMDY2NDh9&amp;t=0&amp;r=1&amp;p=1" style="display: none;"></div>
                </div>
                <div class="card mb-2 border-0">
                    <div class="w-100 d-flex justify-content-start">
                        <div class="d-none d-md-block">
                            <a href="/Article/Timeless-is-the-Newest-Format-for-MTG-Arena">
                                <div class="article-imgheader-feed uimg" style="background-image: url('https://aetherhub.b-cdn.net/articles/10794_dig-through-time.jpg');">
                                </div>
                            </a>
                        </div>
                        <div class="w-100 pl-2">
                            <h5><b><a href="/Article/Timeless-is-the-Newest-Format-for-MTG-Arena">Timeless is the Newest Format for MTG Arena</a></b></h5>
                            <h5 class="card-subtitle text-muted">
                                MTGA&nbsp;News&nbsp;
                            </h5>
                            <p class="card-text">
                                This Vintage-lite format looks like the ultimate, free-for-all, build-it-all format for MTG Arena.
                                <br>
                                <small class="text-muted">1 day ago</small>
                            </p>
                        </div>
                        <div class="mr-2">
                            <small class="text-muted text-nowrap">Article</small>
                        </div>
                    </div>
                </div>
             
                <div class="card mb-2 border-0">
                    <div class="d-flex flex-row">
                        <div class="w-100 pl-2">
                            <h5 class="card-title"><a href="/Deck/lcc-veloci-ramp-tor-deck-other-cards"><b>LCC Veloci-RAMP-Tor Deck Full List</b></a></h5>
                            <div class="w-100 d-flex justify-content-start pb-1">
                                <div class="ae-color-replace" data-colors="18|0|0|19|52|0"><i class="ms ms-w ms-cost ms-shadow mr-1 ml-1"></i><i class="ms ms-r ms-cost ms-shadow mr-1 ml-1"></i><i class="ms ms-g ms-cost ms-shadow mr-1 ml-1"></i></div>
                                <div class="ae-tag-replace ml-1 pt-1" data-tags=""></div>
                            </div>
                            Commander
                            <br>
                            <small class="text-muted">1 month ago</small>
                        </div>
                        <div class="mr-2">
                            <small class="text-muted text-nowrap">
                                <text>Deck</text>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-3 pr-0 pl-0">
        <div class="card mb-2">
            <div class="ae-border-bottom-light pt-1 pb-1 text-center">
                <b>
                    <a href="/Premium/" class="text-dark"><i class="far fa-star" title="Content Creator"></i></a>
                    <a href="/Premium/" class="text-dark"><i class="fas fa-star" title="Premium User"></i></a>
                    ChrisCee
                </b>
            </div>
            <div class="card-body pt-1 pb-1">
                <div class="d-flex justify-content-center">
                    <div>
                        <div class="ae-profile-image-container">
                            <img src="https://gravatar.com/avatar/ffec5fa40af1284051b913ff0c293c82.jpg" width="80" height="80" class="rounded-circle" alt="ChrisCee">
                        </div>
                    </div>
                    <div class="w-100">
                        <div id="ae-follower-buttons" class="w-100 text-center mt-2">
                            <button id="ae-follow-login-btn" class="btn btn-sm btn-light" title="Log in to Follow"><i class="fas fa-user-plus"></i> <b>Follow</b></button>
                        </div>
                        <div class="w-100 mt-2 text-center">
                        </div>
                    </div>
                </div>
                <p>A witness since the time the benevolent silver planeswalker first left Dominaria, ChrisCee has since went back and forth on a number of plane-shattering incidents to oversee the current state of the Multiverse.</p>
                <p><em>"Target bird is no longer available. Please leave a message after the last bounce."</em></p>
            </div>
            <div class="card-footer p-0 d-flex mt-2">
                <div class="w-100 d-flex justify-content-around text-center">
                    <div>
                        <span class="d-block text-muted small">Followers</span>
                        <span class="font-weight-bold">2</span>
                    </div>
                    <div>
                        <span class="d-block text-muted small">Following</span>
                        <span class="font-weight-bold">0</span>
                    </div>
                    <div>
                        <span class="d-block text-muted small">Level</span>
                        <div class="font-weight-bold ae-levelCalc" data-myexp="578"><a href="#levelDescriptionModal" data-toggle="modal" title="Aether Peasant - next lvl 103 / 295xp">3</a></div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>