@using Wizzarts.Data.Models
@using Wizzarts.Common
@using Microsoft.AspNetCore.Identity

@model Wizzarts.Web.ViewModels.WizzartsMember.MembershipViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = "Membership";
}

<div class="row pt-2">
    <div class="col-md-12 pl-0 pr-0">
        <div class="card border-0">
            <div class="card-body tab-content p-0">
                <div id="home" class="tab-pane row active" role="tabpanel">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100">
                                <div class="card-header text-center pt-1 pb-1"><b><i class="fas fa-user"></i> Member</b></div>
                                <div class="card-body pb-0">
                                    <p>
                                        As a member you can upload your art and participate in events.
                                        (Member's content will be reviewed before becoming visible to others.)
                                    </p>
                                    <ul>
                                        <li><b>Mmbers have access</b> to event organizer , article creator and events</li>
                                        <li>Your articles, art pieces and events will be stored on your profile</li>
                                    </ul>
                                    <p>
                                        (Member's content will be reviewed and once approved it will become visible to others.)
                                    </p>
                                </div>
                                @if (!this.SignInManager.IsSignedIn(this.User))
                                {
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Free</a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                                <div class="card mb-3 h-100 border-premium">
                                    <div class="card-header text-center bg-premium text-white pt-1 pb-1"><b><i class="fas fa-star" title="Premium Subscriber"></i> Premium</b></div>
                                    <div class="card-body pb-0">
                                        <img src="/images/navigation/Premium.png" width="300" alt="Premium" class="mx-auto d-block mb-3 img-fluid">
                                        <ul class="mt-2">
                                            <li><b>Content creator</b> <i class="fas fa-star" title="Content creator account"></i> </li>
                                            <li><b>Unlimited</b> Content creators can create unlimited number of  events, new cards and their profile will become visible on our main page.</li>
                                            <li><b>Unlimited</b> Content creators work will be published on our main page. </li>
                                            <li><b>Unlimited</b> Content creators can create their own chat room. </li>

                                        </ul>
                                        <p> Everyone can become a Content creator but this role  is for our most devoted artist, store owners and even regular users.</p>
                                        <p>
                                            Requirements.
                                        </p>
                                        <ul>
                                            <li>Artists with   10 approved art pieces</li>
                                            <li>Store owners will be granted with the content creator role upon submitting at least one event.</li>
                                            <li>Store owners who have the artist role.</li>
                                            <li>Members who have organized events  members who have deep knowledge of our game and have large number of comments behind them.</li>
                                            <li>Members who are helping others and are active in our chat</li>
                                        </ul>
                                    </div>
                                    @if (!this.SignInManager.IsSignedIn(this.User))
                                    {
                                        <div class="mb-2 text-center">
                                            <a class="btn btn-light font-weight-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Start as a member</a>
                                        </div>
                                    }

                                    @if (this.User.IsInRole(GlobalConstants.ContentCreatorRoleName))
                                    {
                                        <div class="mb-2 text-center">
                                            <button class="btn btn-light btn-outline-premium font-weight-bold">Content creator role unlocked! </button>
                                        </div>
                                    }
                                    else if (this.User.IsInRole(GlobalConstants.ArtistRoleName))
                                    {
                                        <div class="mb-2 text-center">
                                            <a class="btn btn-light font-weight-bold">You need @Model.ArtNeeded art pieces to get Premium</a>
                                        </div>
                                    }
                                </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                                <div class="card mb-3 h-100 border-content-creator">
                                    <div class="card-header text-center bg-content-creator text-white pt-1 pb-1"><b><i class="far fa-star" title="Artist"></i> Artist</b></div>
                                    <div class="card-body pb-0">
                                        <ul>
                                            <li><b> To become an artist you need at least 3 approved art pieces in your catalog.</b> </li>
                                            <li><b>As an artist you will gain access </b> to additional events</li>
                                            <li>Our artist's work do not need approval.</li>
                                        </ul>
                                        <p>
                                            Once an artist has 10 approved art pieces he will acquire the role of Content Creator.
                                        </p>
                                    </div>
                                    <br />
                                    @if (!this.SignInManager.IsSignedIn(this.User))
                                    {
                                        <div class="mb-2 text-center">
                                            <a class="btn btn-light font-weight-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Start as a member</a>
                                        </div>
                                    }
                                    @if (this.User.IsInRole(GlobalConstants.ArtistRoleName))
                                    {
                                        <div class="mb-2 text-center">
                                            <button class="btn btn-light btn-outline-content-creator font-weight-bold">Artist role unlocked!</button>
                                        </div>
                                    }
                                    else if (this.User.IsInRole(GlobalConstants.MemberRoleName))
                                    {
                                        <div class="mb-2 text-center">
                                            <a class="btn btn-light font-weight-bold">You need @Model.ArtNeeded art pieces to become an Artist</a>
                                        </div>
                                    }
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>