@using Wizzarts.Data.Models
@using Wizzarts.Common
@using Microsoft.AspNetCore.Identity
@using Wizzarts.Web.Infrastructure.Extensions;
@model Wizzarts.Web.ViewModels.WizzartsMember.MembershipViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    this.ViewData["Title"] = "Membership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2">
    <div class="col-md-12 pl-0 pr-0">
        <div class="card border-0">
            <div class="card-body tab-content p-0">
                <div id="home" class="tab-pane row active" role="tabpanel">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100">
                                <div class="card-header text-center pt-1 pb-1"><b><i class="fas fa-user"></i> Member</b></div>
                                <div class="card-body pb-0">
                                    <p>
                                        Members have access to our events also they can post new articles, create events and promote their game stores.
                                        Each one of the action above is considered as  activity.
                                    </p>
                                    <ul>
                                        <li><b>Member activities</b> count towards unlocking premium account</li>
                                        <li>Your activity will be visible on your portfolio.</li>
                                    </ul>
                                    <p>
                                        (Unlike premium accounts activities, members activities are reviewed regularly and require approval before becoming visible)
                                    </p>
                                </div>
                                @if (!this.SignInManager.IsSignedIn(this.User))
                                {
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Free</a>
                                    </div>
                                }
                            </div>



                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100 border-premium">
                                <div class="card-header text-center bg-premium text-white pt-1 pb-1"><b><i class="fas fa-star" title="Content creator"></i> Artist role</b></div>
                                <div class="card-body pb-0">
                                    <img src="/images/navigation/Premium.png" width="300" alt="Artist" class="mx-auto d-block mb-3 img-fluid">
                                    <ul class="mt-2">
                                        <li><b>Artist</b> <i class="fas fa-star" title="Artist account."></i> </li>
                                        <li><b>Unlimited</b> access to our tools</li>
                                        <li><b>Unlimited</b> access to your work.Your art will be published on our main page </li>
                                        <li><b>Unlimited </b> access to all chat rooms </li>
                                        <li><b>Eligible </b>to join Wizzart's team</li>
                                    </ul>
                                    <p>Only artist's portfolio will be reviewed by Wizzart's team.</p>
                                    <p>Get in contact with us by sending an email to wizzarts@game.com</p>
                                    <p>You can also reach us via chat once you are signed in.</p>
                                    <p>
                                        Requirements.
                                    </p>
                                    <ul>
                                        <li><b> To become an artist you need at least 3 approved art pieces in your catalog.</b> </li>
                                    </ul>
                                </div>
                                @if (!this.SignInManager.IsSignedIn(this.User))
                                {
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Start as a member</a>
                                    </div>
                                }
                                
                                @if (this.User.IsMember() && this.User.IsAdmin() == false && this.User.IsArtist() == false && this.User.IsPremiumUser() == false)
                                {
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold">You need @Model.ArtistRoleNeededArts/@Model.CountOfArts art pieces to become an Artist</a>
                                    </div>
                                }
                                @if (this.User.IsArtist())
                                {
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold">You own the artist role.</a>
                                        <a class="btn btn-light font-weight-bold">Please contact us at wizzarts@game.com </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100 border-content-creator">
                                <div class="card-header text-center bg-content-creator text-white pt-1 pb-1"><b><i class="far fa-star" title="Premium"></i> Premium account</b></div>
                                <div class="card-body pb-0">
                                    <ul class="mt-2">
                                        <li><b>Premium</b> <i class="fas fa-star" title="Premium account."></i> </li>
                                        <li><b>Unlimited</b> access to our tools</li>
                                        <li><b>Unlimited </b> access to all chat rooms </li>
                                    </ul>
                                    <ul>
                                        <li><b> We offer premium access to all game store owners, content creators and event organizers </b> </li>
                                        <p>
                                            Requirements.
                                        </p>
                                    </ul>
                                    <ul>
                                        <li>Have at least 2 published and approved articles.</li>
                                        <li>Create at least 2 event cards.</li>
                                        <li>Have at least 1 event.</li>
                                        <li>Every store owner will get premium access as soon as their stores is submitted and approved.</li>
                                    </ul>

                                </div>
                                <br />
                                @if (!this.SignInManager.IsSignedIn(this.User))
                                {
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Start as a member</a>
                                    </div>
                                }
                                @if (this.User.IsMember() && this.User.IsAdmin() == false && this.User.IsArtist() == false && this.User.IsPremiumUser() == false)
                                {
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold">You need @Model.AllRolesEvents/@Model.CountOfEvents events for premium.</a>
                                    </div>
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold">You need @Model.AllRolesRequiredArticles/@Model.CountOfArticles events for premium.</a>
                                    </div>
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold">You need @Model.AllRolesCards/@Model.CountOfCards event cards for premium.</a>
                                    </div>
                                }
                                @if (this.User.IsMember() && this.User.IsAdmin() == false && this.User.IsArtist() == false && this.User.IsPremiumUser())
                                {
                                    <div class="mb-2 text-center">
                                        <button class="btn btn-light btn-outline-content-creator font-weight-bold">Premium role unlocked!</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>