@using MagicCardsmith.Common
@model MagicCardsmith.Web.ViewModels.Expansion.SingleExpansionViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<div class="row mt-2">
    <div class="col-md-12">
        <div id="Card" class="outer-container">
            @foreach (var card in this.Model.Cards)
            {
                <div class="inner-container">
                    <a asp-controller="Card" asp-action="ById" asp-route-id="@card.Id" class="item ae-card-link cardLink ">
                        <img class="lazy" src="@card.ImageUrl" alt="@card.Name" style="">
                        <div class="item-hidden-text">@card.Name</div>
                    </a>
                    <div class="item-footer">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
