@model Wizzarts.Web.ViewModels.Art.EditArtViewModel

@{
    this.ViewData["Title"] = "Edit Digital Art";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2">
    <div class="col-md-12 pl-0 pr-0">
        <div class="card border-0">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="ff-display">Add your art here : </h3>
                        <div class="card-body pt-2 pb-1">
                            <form method="post" enctype="multipart/form-data">
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="Title"></label>
                                    <div class="col-sm-8 col-lg-6">
                                        <input asp-for="Title" class="form-control" placeholder="Title">
                                    </div>
                                    <span asp-validation-for="Title" class="small text-danger"></span>
                                </div>
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="Description"></label>
                                    <div class="col-sm-8 col-lg-6">
                                        <input asp-for="Description" class="form-control" placeholder="Art Description">
                                    </div>
                                    <span asp-validation-for="Description" class="small text-danger"></span>
                                </div>
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <button type="submit" class="btn btn-light">
                                            <span class="fas fa-plus"></span> <b>Edit</b>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Title"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
