@model Wizzarts.Web.ViewModels.WizzartsMember.AvatarListViewModel
@{
    this.ViewData["Title"] = "All Avatars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
    <div class="col-md-12">
        <div id="DigitalArt" class="outer-container">
            @foreach (var avatar in Model.Avatars)
            {
                <div class="inner-container">
                    <a asp-controller="User" asp-action="Update" asp-route-id="@avatar.Id" class="item ae-card-link cardLink ">
                        <img class="lazy" src="@avatar.AvatarUrl">
                    </a>
                    <div class="item-footer">
                    </div>
                </div>
            }
        </div>
    </div>
</div>