@model Wizzarts.Web.ViewModels.Store.CreateStoreViewModel

@{
    this.ViewData["Title"] = "Create store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2">
    <div class="col-md-12 pl-0 pr-0">
        <div class="card border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="ff-display">Add your store here : </h3>
                        <div class="card-body pt-2 pb-1">
                            <form method="post" enctype="multipart/form-data">
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreName">Name</label>
                                    <div class="col-sm-8 col-lg-6">
                                        <input asp-for="StoreName" class="form-control" placeholder="Store Name">
                                    </div>
                                    <span asp-validation-for="StoreName" class="small text-danger"></span>
                                </div>
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreCountry">Country</label>
                                    <div class="col-sm-8 col-lg-6">
                                        <input asp-for="StoreCountry" class="form-control" placeholder="Location">
                                    </div>
                                    <span asp-validation-for="StoreCountry" class="small text-danger"></span>
                                </div>
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreCity">City</label>
                                    <div class="col-sm-8 col-lg-6">
                                        <input asp-for="StoreCity" class="form-control" placeholder="Location">
                                    </div>
                                    <span asp-validation-for="StoreCity" class="small text-danger"></span>
                                </div>
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StorePhoneNumber">Phone Number</label>
                                    <div class="col-sm-8 col-lg-6">
                                        <input asp-for="StorePhoneNumber" class="form-control" placeholder="Phone Number">
                                    </div>
                                    <span asp-validation-for="StorePhoneNumber" class="small text-danger"></span>
                                </div>
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreAddress">Address</label>
                                    <div class="col-sm-8 col-lg-6">
                                        <input asp-for="StoreAddress" class="form-control" placeholder="Store Address">
                                    </div>
                                    <span asp-validation-for="StoreAddress" class="small text-danger"></span>
                                </div>
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreImage">Image</label>
                                    <div class="col-sm-8 col-lg-6">
                                        <input asp-for="StoreImage" class="form-control" placeholder="Your Store Image">
                                    </div>
                                    <span asp-validation-for="StoreImage" class="small text-danger"></span>
                                </div>
                                <div class="form-group row mb-1">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <button type="submit" class="btn btn-light">
                                            <span class="fas fa-plus"></span> <b>Create</b>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Wizzarts stores</a></h4></div>
                        @foreach (var store in this.Model.Stores)
                        {
                            <div class="card mt-2 mb-2 ">
                                <div class="w-100 d-flex justify-content-start">
                                    <div class="mr-1">
                                        <a asp-controller="Store" asp-action="All" class="image-wrapper">
                                            <div class="article-imgheader-xs lazy uimg" style="background-image: url('@store.Image')">
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="ff-display font-size-18">
                                            <b> <a asp-controller="Store" asp-action="All" class="image-wrapper">@store.Name</a></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>