@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-8 pl-0 pr-0">
        <div>
            <div id="zone01-728x90" class="mx-auto mb-2" data-request-id="0192720c-5ca3-704e-9d2d-3e68f92fcea9" style="min-height: 90px; text-align: center; font-size: 0px;" data-bidder="house" data-creative-id="231"><iframe width="728px" height="90px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" title="advertisement" style="width: 728px; border: none; margin: 0px auto; display: block;"></iframe></div>
        </div>
        <h4 class="text-center pb-1 ae-border-bottom-light text-header-gold">Contact us via our support center</h4>
        <div class="card mt-2 mb-4">
            <div class="card-body">
                <p>
                    Get in contact with us by initiating a chat with us on home page. Just tag with "@@" one of Team Wizzarts members.
                    We usually respond within a business day, if you are not logged into the site we will ask you for your email so we can get back to you.
                </p>           
            </div>
        </div>
        <h4 class="text-center pb-1 ae-border-bottom-light text-header-gold">About us</h4>
        <div class="card mt-2 mb-4">
            <div class="card-body">
                <p>
                    Wizzarts is a website that helps you easily manage your Magic The Gathering card collection, your decks, tournaments and helps you keep in contact with other magic players and see what they are up to.
                    By using a mobile first design philosophy our website can be used on all devices and scales nicely on both your mobile phone and computer. We provide most functionality
                    on our website for free, except for a select few premium features.
                </p>
            </div>
        </div>
        <h4 class="text-center pb-1 ae-border-bottom-light text-header-gold">Licensing</h4>
        <div class="card mt-2 mb-4">
            <div class="card-body">
                <p>
                    We use MTG icons and mana symbols made available from Andrew Gioia
                </p>
                <p>
                    <a href="https://github.com/andrewgioia/Mana" target="new">The Magic: the Gathering mana symbol font</a>
                    <br>
                    <a href="https://github.com/andrewgioia/Keyrune" target="new">The Magic: the Gathering set symbol font</a>
                </p>
                <p>*Logos and product names are copyrighted by their respective owners, Wizards of the Coast.</p>
            </div>
        </div>
        <div class="card mt-2 mb-4">
            <div class="card-body">
                <p>
                    Wizzarts is using html, css, javascipt and ideas from the following web pages : 
                </p>
                <p>
                    <a href="https://aetherhub.com/" target="new">Aetherhub : Html, Css, Javascript</a>
                    <br>
                    <a href="https://www.mtgcardmaker.com/" target="new">mtgcardmaker.com : Idea for the tool used in here for creating play cards</a>
                    <br>
                    <a href="https://codeburst.io/make-a-magic-the-gathering-card-in-css-5e4e06a5e604" target="new">codeburst.io/make-a-magic-the-gathering-card-in-css : Card's html and css </a>
                    <br>
                </p>
                <p>*Logos and product names are copyrighted by their respective owners, Wizards of the Coast.</p>
            </div>
        </div>
    </div>
</div>