@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}

<div class="row pt-2">
    <div class="col-sm-12 col-xl-8 pl-0 pr-0 pl-md-2 pr-md-2">
        <h4 class="text-center pb-1 ae-border-bottom-light text-header-gold">Contact Us</h4>
        <div class="card mb-4">
            <div class="card-body">
                <p>Get in contact with us by sending an email to wizzarts@game.com
                <p>
                    You can also reach us via chat once you are signed in.
                </p>
            </div>
        </div>
        <h4 id="deckhub" class="text-center pb-1 ae-border-bottom-light text-header-gold">Deck Hub</h4>
        <div class="card mb-4">
            <div class="card-body">
                <p>
                    Enrich your deck description with interactive card names that can be hovered and clicked. All you need to do is to become a content creator.
                </p>
                <b id="deckhub_featured">How do I get my deck Featured on the frontpage?</b>
                <p>
                    Content creator decks are featured on the frontpage.
                </p>
                <ul>
                    <li>The description content is long enough and well written. The more detailed the better.</li>
                    <li>It is of newer date, we look at Created date and not last updated date.</li>
                    <li>We take the 160 first characters of the description and display it on the frontpage, it is important that this is well written.</li>
                    <li>We provide youtube and twitch links on the top and bottom of your deck in addition to your profile signature</li>
                </ul>
                <p>
                    Follow these bulletpoints and chances are high you will be put on the frontpage. We want to feature everything from in-meta writeups and your crazy brews as long as the content is good.
                </p>

                <b>How does the ordering in the Deck Hub work?</b>
                <p>
                    The default ordering of decks is a combination of location and whether event cards have been included or not. Decks that contains event cards have shipping priority over others.
                </p>
            </div>
        </div>
        <h4 id="tourneyhub" class="text-center pb-1 ae-border-bottom-light text-header-gold">Tourney Hub</h4>
        <div class="card mb-4">
            <div class="card-body">
                <b>I've locked my deck and its status is now shipped, what should i do?</b>
                <p>
                    To avoid these mistakes it is a good idea to leave your deck unlocked until you are sure that its is ready for print. We will let you unlock it and modify it only once but you will be able to get only one deck.
                </p>
            </div>
        </div>
    </div>
</div>