@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}

<div class="row">
    <div class="col-md-12 col-xl-8">
        <h4 class="text-center pb-1 ae-border-bottom-light text-header-gold">Wizzarts Privacy Policy</h4>
        <div class="card mb-4">
            <div class="card-body">
                <i>Last modified October 21st 2022</i>
                <h5>Privacy Statement</h5>
                <p>
                    This privacy statement explains Wizzarts.com data collection and use practices with respect to its website.
                    By using the pages on the website, you agree to the information collection and use practices described in this privacy statement.
                    We do not exchange, sell or otherwise make available personal information to other teams or organizations.
                </p>
                <h5>Policy Changes</h5>
                <p>
                    Updates or changes to the terms of this Privacy Policy on our website. Please check back frequently, especially before you submit any personal information to
                    Wizzarts.com, to see if this Privacy Policy has changed.
                    By using Wizzarts.com, you acknowledge acceptance of this Privacy Policy in effect at the time of use.
                </p>
                <p>
                    Your Wizzarts.com Profile is publicly available on the internet. Information included in the profile and viewable by other people is: username, country and avatar.
                    Your name, e-mail address and postal address is private and only made public when trading or selling to other users of Wizzarts.com.
                </p>
                <h5>Confidentiality</h5>
                <p>
                    Your Collection and Tournaments are by default private to only you, while Tradelist, Wishlists and Decks are publicly viewable on the internet by default.
                    These settings can be changed depending on what you wish to keep private and make public.
                    Users who run publicly viewable tournaments need to disclose to their participants that names used to register in the tourney and statistics will be publicly viewable.
                    While public settings are useful during the tourney to view standings/pairings we recommend that all tourneys are set to private upon completion.
                </p>
                <h5>Protecting your information</h5>
                <p>
                    Wizzarts.com use Transport Layer Security (TLS) using digital certificates and encryption technology to protect the security of all information as it is transmitted to and from us.
                    Passwords created when logging in with E-mail users are securely saved in the site's database using <a target="_blank" rel="noopener nofollow" title="Wikipedia Salt cryptography article" href="https://en.wikipedia.org/wiki/Salt_(cryptography)">Salt Cryptography</a>.
                    The social media logins on Wizzarts.com do not store any passwords of your social media passwords on the Wizzarts.com site. Instead, the social media platforms authenticate
                    the users and has a trust relationship with Wizzarts.com which will then allow users to use our site.
                    For more information see <a target="_blank" title="Wikipedia OAuth article" href="https://en.wikipedia.org/wiki/OAuth" rel="noopener nofollow">OAuth 2.0</a>.
                </p>
                <h5>Control of Personal Information</h5>
                <p>
                    Except as otherwise described in this privacy statement, your personal information will not be shared outside of Wizzarts.com and its
                    subsidiaries and affiliates without your permission.
                </p>
                <p>
                    This website is not purposefully directed at children under the age of 13. We do not collect or maintain personal information,
                    via the Website or otherwise, from those we actually know are children under 13 years of age.
                    If you are under 13, you should not submit any personal information to us. If you are the parent of a child under 13,
                    please help us protect your child’s privacy by instructing them never to provide personal information on this Website or any other without your permission.
                </p>
                <h5>Sales of personal information</h5>
                <p>
                    Wizzarts does not sell any personal information.
                </p>
                <h5>Do not sell my personal information</h5>
                <p>
                    The California Consumer Privacy Act (CCPA), gives residents of the state of California the right to prevent businesses from selling their personal information. Wizzarts takes your privacy very
                    seriously. We do not sell your personal information. However, we support the CCPA by allowing California residents to opt out of any future sale of their personal information. Clicking the link
                    below will bring you to the opt-out page:
                </p>
                <p>
                    <a href="/Home/PersonalInformation">Do not sell my personal information</a>
                </p>
                <h5>Non-Discrimination</h5>
                <p>We will not discriminate against you for exercising any of your CCPA rights. We will not:</p>
                <ul>
                    <li>Deny you goods or services.</li>
                    <li>Charge you different prices or rates for goods or services, including through granting discounts or other benefits, or imposing penalties.</li>
                    <li>Provide you a different level or quality of goods or services.</li>
                    <li>Suggest that you may receive a different price or rate for goods or services or a different level or quality of goods or services.</li>
                </ul>
                <h5>The information Wizzarts collects</h5>
                <p>
                    As a general visitor, you are not required to provide us with any personally identifiable information. However, we do automatically receive information from your browser
                    or mobile device. This information includes the IP address of the computer/server that you use to access the Internet, your Internet Service Provide name,
                    web browser type, type of mobile device, computer operating system, pages accessed, and other similar information.
                    We use all of this information to look at trends and to help us improve our offerings. Tools like Google Analytics and Azure Application Insights are used to gather this information.
                    If you want to opt out of Google Analytics tracking you can install this <a target="_blank" rel="noopener nofollow" href="https://tools.google.com/dlpage/gaoptout">Google Analytics Opt-Out Browser Add-on</a>.
                </p>
                <p>
                    As a user, you maybe be required to provide us with personally identifiable information.
                    We are the sole owners of any information collected on this site. We only have access to/collect information that you voluntarily give us during sign up, or that is passed
                    through our platform as part of the user experience. We may also obtain information, including personal information, from third parties and other sources,
                    such as information from Facebook, Google or Twitch when you choose to sign in with those services. This information includes your username, full name and email address.
                    Your full name may be used in support requests and to prefill information for you in your trade shipment information or in our payment form.
                    Your email address will be used for account confirmation, account recovery and to send you service related information or receipts.
                    We will not share your email with any third parties, apart from our email service providers mentioned in this privacy policy.
                    We will not send you any newsletter emails if you have opted out of this.
                    You can view and edit your account information we have stored on your <a target="_blank" rel="noopener nofollow" href="/Manage/EditProfile">Edit Profile page</a>.
                </p>
                <table class="table border bg-ae-dark">
                    <thead>
                        <tr>
                            <td><b>Category</b></td>
                            <td><b>Examples</b></td>
                            <td><b>Collected</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A. Identifiers.</td>
                            <td>
                                A real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name, Social Security number, driver's license number, passport number, or other similar identifiers.
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td>B. Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)).</td>
                            <td>A name, signature, address, telephone number, passport number, bank account number, credit card number, debit card number, or any other financial information. Some personal information included in this category may overlap with other categories.</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td>C. Protected classification characteristics under California or federal law.</td>
                            <td>Age (40 years or older), race, color, ancestry, national origin, citizenship, religion or creed, marital status, medical condition, physical or mental disability, sex (including gender, gender identity, gender expression, pregnancy or childbirth and related medical conditions), sexual orientation, veteran or military status, genetic information (including familial genetic information).</td>
                            <td>NO</td>
                        </tr>
                        <tr>
                            <td>D. Commercial information.</td>
                            <td>Records of products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td>E. Biometric information.</td>
                            <td>Genetic, physiological, behavioral, and biological characteristics, or activity patterns used to extract a template or other identifier or identifying information, such as, fingerprints, faceprints, and voiceprints, iris or retina scans, keystroke, gait, or other physical patterns, and sleep, health, or exercise data.</td>
                            <td>NO</td>
                        </tr>
                        <tr>
                            <td>F. Internet or other similar network activity.</td>
                            <td>Browsing history, search history, information on a consumer's interaction with a website, application, or advertisement.</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td>G. Geolocation data.</td>
                            <td>Physical location or movements.</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td>I. Professional or employment-related information.</td>
                            <td>
                                Current or past job history or performance evaluations.
                            </td>
                            <td>NO</td>
                        </tr>
                        <tr>
                            <td>J. Non-public education information (per the Family Educational Rights and Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part 99)).</td>
                            <td>Education records directly related to a student maintained by an educational institution or party acting on its behalf, such as grades, transcripts, class lists, student schedules, student identification codes, student financial information, or student disciplinary records.</td>
                            <td>NO</td>
                        </tr>
                        <tr>
                            <td>K. Inferences drawn from other personal information.</td>
                            <td>Profile reflecting a person's preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.</td>
                            <td>NO</td>
                        </tr>
                    </tbody>
                </table>
                <h5>When Wizzarts shares information</h5>
                <p>
                    Our policy is to maintain the confidentiality of the personally identifiable information of individuals except in cases when the law requires disclosure or when we
                    have your permission to do so.
                </p>
                <p>
                    Wizzarts does not sell, lease, share, rent, or otherwise provide any personally identifiable information for marketing purposes to any companies or persons outside
                    of Wizzarts. We may provide your personally identifiable information to service providers and affiliates that provide services in conjunction with our offerings,
                    such as payment processors, fraud protection services, or other parties assisting in improving Wizzarts.
                    Information is securely transmitted to these affiliates, and such affiliates will only receive information necessary to provide their respective services and will be
                    bound by confidentiality agreements limiting the use of such information. Please be aware that any personal information that you voluntarily choose to display in any
                    public location through the use of our platform becomes publicly available and may be collected and used by others.
                </p>
                <p>
                    Wizzarts will only disclose personally identifiable information to government officials and law enforcement agencies when it is required by law
                    (e.g. in compliance with a subpoena or court order) or if we believe in good faith that such action is appropriate and necessary to protect and defend the rights of
                    Wizzarts, or to protect the safety of Wizzarts users, employees, affiliates, and the general public.
                </p>
                <p>
                    In the event that Wizzarts or some or all assets related to our services are acquired by or merged with a third party entity, we reserve the right to transfer
                    or assign any information we have collected from users as part of that merger, acquisition, sale, or other change of control.
                </p>
                <h5>Exercising Access, Data Portability, and Deletion Rights</h5>
                <p>
                    To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by contacting our <a href="/Contact">support center</a>
                </p>
                <p>
                    Only you, or a person registered with the California Secretary of State that you authorize to act on your behalf, may make a verifiable consumer request related to your personal information.
                    You may also make a verifiable consumer request on behalf of your minor child.
                    You may only make a verifiable consumer request for access or data portability twice within a 12-month period. The verifiable consumer request must:
                </p>
                <ul>
                    <li>Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative.</li>
                    <li>Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</li>
                </ul>
                <p>
                    We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm the personal information relates to you.
                    We will only use personal information provided in a verifiable consumer request to verify the requestor's identity or authority to make the request.
                    We endeavor to respond to a verifiable consumer request within forty-five (45) days of its receipt. If we require more time (up to 90 days),
                    we will inform you of the reason and extension period in writing.
                </p>
                <h5>Links</h5>
                <p>
                    The Wizzarts website contains links to other sites that are not under our direct control. Please note that the Wizzarts Privacy Policy does not apply to these sites
                    and Wizzarts is not responsible for, nor do we endorse, the privacy practices or the content of these sites. You should check the individual privacy policies of
                    these sites to understand how they will utilize your personal information.
                </p>
                <h5>Backup</h5>
                <p>
                    Wizzarts runs scheduled backups of site data and information. This data is stored securely on Microsofts Azure Cloud, our backup archive goes back one month in time. This
                    means that data that is deleted from our website will remain a maximum of 1 month in our backup archives before it is completely erased.
                </p>
               
                </div>
            </div>
        </div>
    </div>
</div>
