@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}

<div class="row pt-2">
    <div class="col-md-12 col-xl-8">
        <h4 class="text-center pb-1 ae-border-bottom-light text-header-gold">Wizzarts Terms and Conditions</h4>
        <div class="card mb-4">
            <div class="card-body">
                <i>Last modified 3rd September 2017</i>
                <p><i>PLEASE READ THE FOLLOWING TERMS AND CONDITIONS AS WELL AS THE PRIVACY STATEMENT BEFORE USING THIS SITE</i></p>
                <p>
                    By using Wizzarts.com (hereafter referred to as Wizzarts), you are agreeing to abide by the following terms as well as the content of the <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>.
                     may modify these Terms and Conditions from time to time without notice. Your continued usage of this website constitutes your acceptance of any such changes.
                    If you do not agree to the terms set forth below, do not use the site.
                </p>
                <h5>Your Account</h5>
                <p>
                    If you create an account on Wizzarts, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your account.
                    You also agree to accept responsibility for all activities that occour under your account or password, this includes being held liable for any payments due on purchases made under your account.
                    You should immediatly inform  of any unathorized use of your account.
                </p>
                <h5>Magic the Gathering</h5>
                <p>
                    WIZARDS OF THE COAST®, Magic: The Gathering®, set names and images, logos, names and all associated marks are trademarks of Wizards of the Coast LLC.
                    All other trademarks are the property of the respective trademark owners. .com is not affiliated with Wizards of the Coast LLC.
                </p>
                <h5>Limitations of Liability</h5>
                <p>
                    Wizzarts and all information, content, materials, products and services are provided on an “as is” and “as available” basis unless otherwise specified in writing.
                    Wizzarts makes no representations or warranties of any kind, expressed or implied, as to the performance or operation of services or the information, content, materials or products
                    made available to you by using the site. You expressly agree that your use of Wizzarts is at your sole risk.
                </p>
                <p>
                    To the maximum extent allowed by relevant and applicable law, Wizzarts disclaims all warranties. Specifically, Wizzarts does not warrant that the  services, servers or
                    electronic communications are free of viruses or other harmful components. Furthermore,  will not be liable for any damages or loss caused by the use of 
                    or from its information, content, materials or products.
                </p>
                <h5>Termination</h5>
                <p>
                     may terminate or suspend your right to use the Site, any services provided on the Site, at any time. Your right to use the Site, any services provided on the Site shall terminate
                    immediately and automatically if you should breach any of these Terms and Conditions. You agree that the following actions, among others and whether or not set forth herein,
                    shall constitute a breach of these Terms and Conditions:
                </p>
                <ul>
                    <li>Create a false identity for the purpose of misleading others</li>
                    <li>You are distributing harmful computer code</li>
                    <li>Using the Site for any purpose in violation of state, local, national, or international laws</li>
                    <li>Taking any action that interferes or may interfere with the use or functionality of the Site including but not limited to spamming, flooding, or overloading 's servers</li>
                    <li>Using material that is unlawful, abusive, defamatory, threatening, obscene, harassing, hateful, or embarrassing to any other person</li>
                    <li> have the right, but not the obligation to terminate your account if we have reason to believe that your account is being misused or that your login information is compromised</li>
                    <li>Using material that infringes on the intellectual property rights of others or on the privacy or publicity rights of others</li>
                </ul>

            </div>
        </div>
    </div>
</div>