/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of reset */
body* > {
    box-sizing: border-box;
}

.card-container {
    border: 1px solid black;
    width: 500px;
    height: 700px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom:100px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: -8px 9px 16px -3px gray;
}

.card-background {
    height: 650px;
    margin: 20px 20px 0 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    background-image: url(https://www.mtgcardmaker.com/mcmaker/media/green.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-color: #bbb;
    z-index: 0;
}

/*
    -------------------------
    -------------------------
            BORDERS
    -------------------------
    -------------------------
*/



.img-art {
    width: 100%;
    height: 100%;
}

.frame-header,
.frame-type-line {
    border-bottom: 1x solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.frame-header,
.frame-art,
.frame-type-line {
    margin-bottom: 580px;
}

.frame-text-box {
}

/*
    ----------------------
    ----------------------
            OVERFLOW
    ----------------------
    ----------------------
*/
.frame-header,
.frame-type-line,
.frame-text-box {
    overflow: hidden;
}


/*
  ----------------------------------------
  ----------------------------------------
            CARD FRAME
  ----------------------------------------
  ----------------------------------------
*/
.card-frame {
    z-index: 1;
    position: inherit;
    height: 100%;
    max-width: 100%;
    left: 40%;
    right: 0%;
    top: 21%;
    display: flex;
    flex-direction: column;
}



.frame-header,
.frame-type-line {
    background: linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ), url();
    display: flex;
    margin-top: 36px;
    margin-left: 36px;
    margin-right: 28px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 24px/40px;
}
/*
  Tue 27/3
*/
.name,
.type {
    font-size: 1.3em;
    margin-left: 12px;
    align-self: baseline;
    font-weight: 600;
    color:black;
}

#mana-icon {
    float: left;
    font-size: 1.4em;
    background: #ADD3AC;
    border-radius: 60%;
    box-sizing: border-box;
    box-shadow: -0.05em 0.12em 0px 0 black;
    margin-right: 0px;
    height: 18px;
    align-self: center;
}

.frame-art {
    height: 25.3%;
    margin: 81.3px 42px;
    position:absolute;
    max-height:278px;
    max-width:380px;
       
}

#set-icon {
    height: 100%;
    width: 6%;
    overflow: hidden;
    margin-right: 10px;
    align-self: center;
}

.frame-type-line {
    margin-top: -298px;
}

.frame-text-box {
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 7px;
    font-size: 1.2em;
    margin-top: -642px;
    margin-left: 45px;
    margin-right: 42px;
    color:black;
}

.flavour-text {
    font-style: italic;
    padding: 0px 0;
}

p {
    margin-bottom: 0px;
    font-size: 16px;
    font-style: oblique;
    font-weight: bold;
}

.ftb-inner-margin {
    margin: 20px 1px;
}





.frame-bottom-info {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: -20px 15px 0 15px;
}

.fbi-frame-power {
    background: linear-gradient(0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3)), url();
    display: flex;
    margin-top: -70px;
    margin-left: 10px;
    margin-right: -100px;
    padding: 10px 0;
    justify-content: space-between;
    border-radius: 18px/40px;
}

.frame-power-art {
    height: 6.0%;
    margin: 124px 370px;
}

h3 {
    margin-bottom: 0px;
    font-size: 16px;
    font-style: oblique;
    font-weight: bold;
}

.container-power {
    position: absolute;
    text-align: right;
    color: black;
    height: 6.0%;
    margin: -75px 367px;
}

.centered-power {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-weight:600;
}

.container-create {
    width: 100%;
}

    .container-create > .first {
        display: inline-block;
        float: left;
        width: 495px;
    }

    .container-create > .second {
        display: inline-block;
        float: right;
        margin: 0 auto;
        width: 500px;
    }

.container-up-values {
    width: 70%;
}

    .container-up-values > .first-title {
        display: inline-block;
        float: left;
        width: 100px;
    }

    .container-up-values > .second-mana {
        display: inline-block;
        float: right;
        margin: 0 auto;
        width: 100px;
    }

fbi-left {
    flex: 1;
}

.fbi-left p:first-of-type {
    margin-bottom: 1px;
}

.fbi-left,
.fbi-right {
    font-size: 10px;
    position: relative;
    top: 0px;
}

.fbi-center {
    border-radius: 60%;
    flex-basis: 41px;
    height: 21px;
    position: relative;
    bottom: 11px;
    z-index: 2;
    background: lightgray;
    background-image: url(https://image.ibb.co/jyq34n/holofoil_texture_2.jpg);
    box-shadow: 0 0 0 4px #171314;
}

.inner-margins {
    margin: 0 10px;
}

*/




.fbi-right {
    flex: 1;
    text-align: right;
}

.frame-bottom-info img {
    overflow: hidden;
    max-width: 10px;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}
