@* @model Wizzarts.Web.ViewModels.Home.IndexAuthenticationViewModel

<div id="login-dp" class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-230px, 22px, 0px);">
    <div class="row">
        <div class="col-md-12 text-dark">
            Sign in :
            <form asp-controller="Home" asp-action="Index" class="form" id="account" method="post" role="form">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="sr-only" for="Username">Login</label>
                    <input asp-for="UserName" class="form-control" data-val="true" data-val-required="The Login field is required." id="qEmail" name="Username" placeholder="Username" type="text" value="">
                    <span asp-validation-for="UserName" class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="sr-only" for="Password">Password</label>
                    <input asp-for="Password" class="form-control" data-val="true" data-val-required="The Password field is required." id="qPassword" name="Password" placeholder="Password" type="password">
                    <span asp-validation-for="Password" class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-light btn-block"><i class="fas fa-sign-in-alt"></i> <b>Login</b></button>
                </div>
            </form>
            <div class="bottom text-center mt-2">
                <a class="nav-link text-dark" id="register" asp-controller="Registration" asp-action="Registration">Register</a>
            </div>
        </div>
    </div>
</div> *@