@model Wizzarts.Web.ViewModels.WizzartsMember.WizzartsTeamListViewModel

<div class="card mb-2 ">
    <div class="card-body p-2">
        <div class="d-flex flex-wrap justify-content-start">
            @foreach (var artist in this.Model.wizzartsTeam)
            {

                <a asp-controller="Wizzarts" asp-action="ById" asp-route-id="@artist.UserId" class="home-meta-card">
                    <div  class="home-meta-card-headline lazy" style="background-image: url(@artist.AvatarUrl);background-repeat:no-repeat;background-position:left;background-size:90px;text-align:right;padding:5px;height:80px;">
                        @artist.Nickname
                    </div>
                </a>

                <hr />
                <hr />
            }

        </div>
    </div>
</div>
