@using MagicCardsmith.Data.Models
@using Microsoft.AspNetCore.Identity
@model MagicCardsmith.Web.ViewModels.Premium.MembershipViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    this.ViewData["Title"] = "Become";
}

<div class="row pt-2">
    <div class="col-md-12 pl-0 pr-0">
        <div class="card border-0">
            <div class="card-body tab-content p-0">
                <div id="home" class="tab-pane row active" role="tabpanel">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100">
                                <div class="card-header text-center pt-1 pb-1"><b><i class="fas fa-user"></i> Member</b></div>
                                <div class="card-body pb-0">
                                    <p>
                                        As a member you can upload your art and participate in events.
                                        Once submitted, your art will be reviewed and if approved, it will become part of your and our library.
                                    </p>
                                    <ul>
                                        <li><b>Access</b> to event organizer , article creator and events</li>
                                        <li>Your articles, art pieces and events will be stored on your profile</li>
                                    </ul>
                                </div>
                                @if (!this.SignInManager.IsSignedIn(this.User))
                                {
                                    <div class="mb-2 text-center">
                                        <a class="btn btn-light font-weight-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Free</a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <form method="post" asp-controller="Membership" asp-action="GetPremium">
                                <div class="card mb-3 h-100 border-premium">
                                    <div class="card-header text-center bg-premium text-white pt-1 pb-1"><b><i class="fas fa-star" title="Premium Subscriber"></i> Premium</b></div>
                                    <div class="card-body pb-0">
                                        <img src="/images/navigation/Premium.png" width="300" alt="Premium" class="mx-auto d-block mb-3 img-fluid">
                                        <ul class="mt-2">
                                            <li><b>Premium Account</b> <i class="fas fa-star" title="Premium Subscriber"></i> </li>
                                            <li><b>Unlimited</b>Comment on cards , create articles and events. Create new cards, create decks and participate in the creation of future deck expansions</li>
                                            <li><b>Unlimited</b>Premium Users gets all the base functionality provided as a Content Creator, but with no limits and Premium-only features </li>
                                            <li><b>Unlimited</b>Articles and events will be published on our main page </li>

                                        </ul>
                                        <p> Premium membership is for our most devoted artist, store owners and even regular users.</p>
                                        <p>
                                            Requirements.
                                        </p>
                                        <ul>
                                            <li>Artists with   10 approved art pieces</li>
                                            <li>Store owners who are active content creators( event organizers, who are publishing articles). Store owners with at least 3 art pieces</li>
                                            <li>Users who are active content creators, event organizers, members who have deep knowledge of our game and have large number of comments behind them.</li>
                                            <li>Members who are store owners and artists with approved art pieces</li>
                                        </ul>
                                    </div>
                                    <div class="mb-2 text-center">
                                        <button class="btn btn-light btn-outline-premium font-weight-bold">Check eligibility </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <form method="post" asp-controller="Membership" asp-action="Become">
                                <div class="card mb-3 h-100 border-content-creator">
                                    <div class="card-header text-center bg-content-creator text-white pt-1 pb-1"><b><i class="far fa-star" title="Artist"></i> Artist</b></div>
                                    <div class="card-body pb-0">
                                        <ul>
                                            <li><b> Artist work will be published in our art catalog</b> </li>
                                            <li><b>Access</b> to additional events</li>
                                            <li>Once you have at least 3 approved art pieces you will be elligible for becoming an artist.</li>
                                        </ul>
                                        <p>
                                            Once an artist has 10 approved art pieces and  becomes a premium user he will be offered a place in our team for working on our future projects.
                                        </p>
                                    </div>
                                    <div class="mb-2 text-center">
                                        <button class="btn btn-light btn-outline-content-creator font-weight-bold">Become</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>