@model MagicCardsmith.Web.ViewModels.Premium.BecomeArtistViewModel
@{
    this.ViewData["Title"] = "Become";
}

<div class="row pt-2">
    <div class="col-md-12 pl-0 pr-0">
        <div class="card border-0">
            <div class="card-body tab-content p-0">
                <div id="home" class="tab-pane row active" role="tabpanel">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100">
                                <div class="card-header text-center pt-1 pb-1"><b><i class="fas fa-user"></i> Member</b></div>
                                <div class="card-body pb-0">
                                    <p>
                                        Become a member by uploading art or participate in events.
                                        Use your art to compete with others during our events and  gain access to more roles.
                                        
                                    </p>
                                    <ul>
                                        <li>As a member you will acquire access to our events.</li>
                                        <li>Uploading art will grant you access to additiona events.</li>
                                        <li>As a member you can create articles and events. Once we approve your article or event you will be granted with the role of content creator.</li>
                                    </ul>
                                    <p>
                                        Upload your art to compete with others during our events and  gain access to more roles.
                                    </p>
                                    <ul>
                                        <li>The more art pieces you have in your account , bigger the chance to join our team.</li>
                                        <li>Participate in events</li>
                                        <li>Event participation will grant you access to additional roles such as content creator and event creator</li>
                                    </ul>
                                </div>
                                <div class="mb-2 text-center">
                                    <a href="#" class="btn btn-light font-weight-bold" disabled="">Check membership</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100 border-premium">
                                <div class="card-header text-center bg-premium text-white pt-1 pb-1"><b><i class="fas fa-star" title="Premium Subscriber"></i> Premium</b></div>
                                <div class="card-body pb-0">
                                    <img src="/images/navigation/Premium.png" width="300" alt="Premium" class="mx-auto d-block mb-3 img-fluid">
                                    <ul class="mt-2">
                                        <li><b>Premium Account</b> <i class="fas fa-star" title="Premium Subscriber"></i> in your MagicCardsmith profile</li>
                                        <li><b>Unlimited</b>Comment on cards , create articles and events. Create new cards, create decks and participate in the creation of future deck expansions</li>
                                        <li><b>Unlimited</b>Premium Users gets all the base functionality provided as a Content Creator, but with no limits and Premium-only features. </li>
                                       
                                    </ul>
                                    <p> To get a premium account you need to be an active Artist, an active member or a store owner.</p>
                                    <p>
                                        Requirements.
                                    </p>
                                    <ul>
                                        <li>Being an artist with at least 5 approved art pieces</li>
                                        <li>Being a store owner </li>
                                        <li>Winnning events</li>
                                        <li>Members with 5 approved articles and at leat one approved event</li>
                                    </ul>
                                </div>
                                <div class="mb-2 text-center">
                                    <a class="btn btn-light btn-outline-premium font-weight-bold">Check eligibility </a>
                                </div>
                            </div>
                        </div>
                        <form method="post">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-3">
                            <div class="card mb-3 h-100 border-content-creator">
                                <div class="card-header text-center bg-content-creator text-white pt-1 pb-1"><b><i class="far fa-star" title="Artist"></i> Artist</b></div>
                                <div class="card-body pb-0">
                                    <ul>
                                        <li><b>For artist with at least 5 approved art pieces . </b> </li>
                                        <li><b>Access</b> to event organaizer , article creator and card/deck creator tool</li>   
                                    </ul>
                                    <p>
                                       If you are eligible to become an artist , the "Become" artist button will appear below.
                                    </p>
                                </div>
                                <div class="mb-2 text-center">
                                    <a  class="btn btn-light btn-outline-content-creator font-weight-bold">Become</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>